* {
    margin: 0 auto; 
}


/* header */ /* header *//* header *//* header *//* header */
@font-face {
  font-family: commando;
  src: url(/fonts/commando.ttf) format("truetype");
}

html, body {
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
}

header nav {
  display: flex;
  background-color: #282C53;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: commando;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 13.41px;
}

nav{
  position: fixed;
  width: 100%;

}

header nav .link, .languages {
  display: none;
}

.avatar {
  height: 50px;
  width: 73px;
}

.account-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.account-wrapper > a {
  margin: 0 10px;
}

.account-wrapper > a > .cart {
width: 18px;
height: 18px;
}

.personal-info div {
  margin: 2px 0;
}

.hamburger img {
  width: 24px;
  height: 20px;
}

.content-mobile {
position: absolute;
display: none;
width: 100%;
height: 100%;
float: none;
text-align: center;
background-color:#282C53;
top: 100px;
right: 0;
left: 0;
padding: 0 20px;
z-index: 1;
}

li > a {
text-decoration: none;
}

li > a:hover {
color:#F6CD40;
}

.content-mobile > li {
margin: 20px;
list-style: none;
}


  /* form connected */

  form {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  input{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: #282C53;
    color: #fff;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }

  .button {
    padding-left: 70%; 
  }

  button{
      background-color: #282C53;
      color: #fff;
      border-radius: 5px;
  }
  
  /* subscribe form */

  .containerBlue h2{
      text-align: center;
      color: #fff;
      margin-bottom: 5%;
  }
  .containerBlue{
      background-color: #282C53;
      margin-top: 10%;
      padding: 5% 0%;
  }

  .inputSubscribe{
      background-color: #fff;
      color: #282C53;
  }

.labelSubscribe{
    color: #fff;
}

.buttonSubscribe{
    background-color: #fff;
    color: #282C53;
}

.rgpd{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    color: #fff;
}

.checkboxInput{
    width: 100px;
}

.avatar{
  margin-left: 15%;
  display: contents;

}

.avatar img{
    width: 70%;
    margin-bottom:5%;
    margin-top: 10%;
}


 .bird img{
    width: 95%;
} 

.buttonSnake,
.buttonWolf,
.buttonPirate,
.buttonBird{
    border: none;
    margin-left: 5%;
}

.buttonSnake:hover,
.buttonWolf:hover,
.buttonPirate:hover,
.buttonBird:hover{
    background-color: #fff;
}

.xp{
    text-align: center;
    margin-top: 10%;
}


/* footer *//* footer *//* footer *//* footer */

.backToTop{
    margin-left: 70%;
    position: relative;
    top: 260px;
    width: 10%;
  }

footer{
    width: 100%;
    background-color: #282C53;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .firstBoxFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0%;
  } 
  
  .firstBoxFooter a{
    text-decoration: none;
    color: white;
    
  }
  
  .picture{
    position: relative;
    left: 1217px;
    top: 183px;

  }
  .OpenHours{
    text-align: center;
    color: #fff;
    margin: 3% 0% ;
  }
  
  .reseaux img{
    padding: 5px;
  }
  
  
  
  .twitterPicture, 
  .facebookPicture, 
  .youtubePicture{
    width: 40px;
  }
  
  
  
  .instagramPicture{
    width: 35px;
  }
  
  
  
  .mailPicture{
    width: 50px;
  }
  
  
  
  .footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl a{
    text-decoration: none;
    color: #fff;
    
  }
  
  footer a:hover{
    color: #F6CD40;
  }

  @media screen and (min-width: 768px) {
    .logo{
        width: 25%;
    }

    form {
        width: 39%;
    }
    .backToTop {
        top: 260px;

    }
  }

  @media screen and (min-width: 992px){
    .content-mobile {
        display: none;
      }
}


@media screen and (min-width: 1200px){  
  
  .content-mobile {
    display: none;
  }
    header nav .link, .languages {
        display: block;
    }

    header nav a {
        color: white;
        text-decoration: none;
    }
    
    header nav .link:hover {
        color: #F6CD40;
    }

    header nav a:active {
        color: white;
        text-decoration: none;
    }

    .menu-wrapper {
        cursor: pointer;
        position: relative;
    }


    .dropdown {
        display: none;   
        position: absolute;
        left: -23%;
        width: 190px;
        background-color: #282C53;
        text-align: center;
        padding-top: 40px;
    }

    .dropdown .menu-item:first-child {
        padding: 24px 10px 14px 10px;
    }

    .dropdown .menu-item {
        display: block;
        padding: 14px 10px;
    }

    .menu-wrapper:hover .dropdown {
        display: block;
    }

    .menu-wrapper:hover .menu-arrow {
        background-image: url(/images/arrow.png);
    }    

    .languages {
        display: block;
    }

    .languages a {
        display: block;
    }

    .languages img {
        height: 18px;
        width: 18px;
    }

    .hamburger {
        display: none;
    }
}

