* {
    margin: 0 auto; 
}


/* header */ /* header *//* header *//* header *//* header */

@font-face {
  font-family: commando;
  src: url(/fonts/commando.ttf) format("truetype");
}

html, body {
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
}

header nav {
  display: flex;
  background-color: #282C53;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: commando;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 13.41px;
}

nav{
  position: fixed;
  width: 100%;

}

header nav .link, .languages {
  display: none;
}

.logo{
  width: 150px;
}

.avatar {
  height: 50px;
  width: 73px;
}

.account-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.account-wrapper > a {
  margin: 0 10px;
}

.account-wrapper > a > .cart {
width: 18px;
height: 18px;
}

.personal-info div {
  margin: 2px 0;
}

.hamburger img {
  width: 24px;
  height: 20px;
}

.content-mobile {
position: absolute;
display: none;
width: 100%;
height: 100%;
float: none;
text-align: center;
background-color:#282C53;
top: 100px;
right: 0;
left: 0;
padding: 0 20px;
z-index: 1;
}

li > a {
text-decoration: none;
}

li > a:hover {
color:#F6CD40;
}

.content-mobile > li {
margin: 20px;
list-style: none;
}
  /* body */  /* body */  /* body */  /* body */

  .container{
      width: 80%;
      padding-top: 10%;
      padding-bottom: 10%;
  }

  /* footer */

  .backToTop{
    margin-left: 70%;
    position: relative;
    top: 75px;
    width: 25%;
  }

  /* footer */


  footer{
    width: 100%;
    background-color: #282C53;
}

.firstBoxFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
} 

.firstBoxFooter a{
    text-decoration: none;
    color: white;
    
}

.OpenHours{
    padding-left: 85%;
    color: #fff;
    margin: 3% 0% ;
}

.reseaux img{
    
    margin-left: 20px;
}

.twitterPicture, 
.facebookPicture, 
.youtubePicture{
    width: 40px;
}



.instagramPicture{
    width: 35px;
}



.mailPicture{
    width: 50px;
}



.footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    position: relative;
    padding-bottom: 1%;
}

.cgvMl a{
    text-decoration: none;
    color: #fff;
    
}

footer a:hover{
    color: #F6CD40;
}

@media screen and (min-width: 992px){
  .content-mobile {
      display: none;
    }
}


@media screen and (min-width: 1200px){  

.content-mobile {
  display: none;
}
  header nav .link, .languages {
      display: block;
  }

  header nav a {
      color: white;
      text-decoration: none;
  }
  
  header nav .link:hover {
      color: #F6CD40;
  }

  header nav a:active {
      color: white;
      text-decoration: none;
  }

  .menu-wrapper {
      cursor: pointer;
      position: relative;
  }


  .dropdown {
      display: none;   
      position: absolute;
      left: -23%;
      width: 190px;
      background-color: #282C53;
      text-align: center;
      padding-top: 40px;
  }

  .dropdown .menu-item:first-child {
      padding: 24px 10px 14px 10px;
  }

  .dropdown .menu-item {
      display: block;
      padding: 14px 10px;
  }

  .menu-wrapper:hover .dropdown {
      display: block;
  }

  .menu-wrapper:hover .menu-arrow {
      background-image: url(/images/arrow.png);
  }    

  .languages {
      display: block;
  }

  .languages a {
      display: block;
  }

  .languages img {
      height: 18px;
      width: 18px;
  }

  .hamburger {
      display: none;
  }
}

@media screen and (max-width: 480px){
  .poppy-header img{
     bottom: 227px;
     left: 1px;

  }

  .poppy-header{
      height: 200px;
  }

  .bar{
      bottom: 80px;
  }

  .pictureHome img {
      padding-left: 0%;
      width: 35%;
  }

  h1{
      font-size: 25px;
  }

  .boxHomePicture img{
      padding-left: 0%;
  }

  .ext-box-picture-home{
      width: 35%;
  }

  .center-box-picture-home{
      width: 60%;
  }

  .textDescription{
      left: 0%;
      width: 100%;
  }
  .textDescription p{
      width: 80%;
  }

  .backToTop {
      margin-left: 80%;
      top: 21px;
  }

  footer{
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: none;
      text-align: center;
      
  }

  .firstBoxFooter{
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
  }

  .OpenHours{
      padding-left: 0%;
      padding-bottom: 20px;
  }

  .cgvMl{
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
  }
  .reseaux{
      padding-bottom: 20px;
  }

  .footerDown{
      display: flex;
      flex-direction: column;

  }

  .box-effectif-element{
      margin-right: 35%;
  }

  .allGames{
      margin-right: 0%;
  }
}