@font-face {
    font-family: commando;
    src: url(/fonts/commando.ttf) format("truetype");
}

.logo{
    width: 150px;
}

form{
    padding-top: 10%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

header nav {
    display: flex;
    background-color: #282C53;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: commando;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 13.41px;
}

nav{
    position: fixed;
    width: 100%;

}

header nav .link, .languages {
    display: none;
}



.avatar {
    height: 50px;
    width: 73px;
}

.account-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

.account-wrapper > a {
    margin: 0 10px;
}

.account-wrapper > a > .cart {
  width: 18px;
  height: 18px;
}

.personal-info div {
    margin: 2px 0;
}

.hamburger img {
    width: 24px;
    height: 20px;
}

.content-mobile {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  float: none;
  text-align: center;
  background-color:#282C53;
  top: 100px;
  right: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1;
}

li > a {
  text-decoration: none;
}

li > a:hover {
  color:#F6CD40;
}

.content-mobile > li {
  margin: 20px;
  list-style: none;
}

h2{
    width: auto;
    text-align: center;
}
#submitContact{
    background-color: #B91466;
    border: none;
}
#submitContact:hover{
    background-color: #820C47;
}

.backToTop{
    margin-left: 85%;
    position: relative;
    top: 60px;
    width: 10%;
}


footer{
    width: 100%;
    background-color: #282C53;
    margin-top: 10%;
}

.firstBoxFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
} 

.firstBoxFooter a{
    text-decoration: none;
    color: white;
    
}

.OpenHours{
    padding-left: 85%;
    color: #fff;
    margin: 3% 0% ;
}

.reseaux img{
    
    margin-left: 20px;
}

.twitterPicture, 
.facebookPicture, 
.youtubePicture{
    width: 40px;
}



.instagramPicture{
    width: 35px;
}



.mailPicture{
    width: 50px;
}



.footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    position: relative;
    padding-bottom: 1%;
}

.cgvMl a{
    text-decoration: none;
    color: #fff;
    
}

footer a:hover{
    color: #F6CD40;
}




@media screen and (min-width: 768px) {
}


/* Nav Desktop */
@media screen and (min-width: 992px){
    .content-mobile {
        display: none;
      }
}

/* Nav Desktop */
@media screen and (min-width: 1200px){  
  
  .content-mobile {
    display: none;
  }
    header nav .link, .languages {
        display: block;
    }

    header nav a {
        color: white;
        text-decoration: none;
    }
    
    header nav .link:hover {
        color: #F6CD40;
    }

    header nav a:active {
        color: white;
        text-decoration: none;
    }

    .menu-wrapper {
        cursor: pointer;
        position: relative;
    }

    .menu-arrow {
        width: 20px;
        height: 9px;
        display: inline-block;
        background-image: url(/images/arrow-down.png);
        background-repeat: no-repeat;
        background-size: contain;    
        margin-left: 5px;
    }

    .menu {
        display: none;   
        position: absolute;
        left: -23%;
        width: 190px;
        background-color: #000000;
        text-align: center;
    }

    .menu .menu-item:first-child {
        padding: 24px 10px 14px 10px;
    }

    .menu .menu-item {
        display: block;
        padding: 14px 10px;
    }

    .menu-wrapper:hover .menu {
        display: block;
    }

    .menu-wrapper:hover .menu-arrow {
        background-image: url(/images/arrow.png);
    }    

    .languages {
        display: block;
    }

    .languages a {
        display: block;
    }

    .languages img {
        height: 18px;
        width: 18px;
    }

    .hamburger {
        display: none;
    }
}