* {
  margin: 0 auto; 
}


/* header */

@font-face {
font-family: commando;
src: url(/fonts/commando.ttf) format("truetype");
}

.logo { 
position: relative;
z-index: 1;
width: 150px;
}

.boxBlueHeader {
width: 100%;
height: 260px;
background-color: #282C53;
position: relative;
bottom: 265px;
}

h1{
color: #fff;
font-size: 30px;
position: relative;
z-index: 2;
top: 220px;
text-align: center;
}


header nav {
display: flex;
background-color: #282C53;
color: white;
align-items: center;
justify-content: space-between;
padding: 30px;
font-family: commando;
font-weight: 400;
font-style: normal;
font-size: 15px;
line-height: 13.41px;
}

nav{
position: fixed;
width: 100%;

}

header nav .link, .languages {
display: none;
}

span{
  color: #F6CD40;
}

.avatar {
height: 50px;
width: 73px;
}

.account-wrapper {
display: flex;
align-items: center;
text-align: center;
}

.account-wrapper > a {
margin: 0 10px;
}

.account-wrapper > a > .cart {
width: 18px;
height: 18px;
}

.personal-info div {
margin: 2px 0;
}

.hamburger img {
width: 24px;
height: 20px;
}

.content-mobile {
position: absolute;
display: none;
width: 100%;
height: 100%;
float: none;
text-align: center;
background-color:#282C53;
top: 100px;
right: 0;
left: 0;
padding: 0 20px;
z-index: 1;
}

li > a {
text-decoration: none;
}

li > a:hover {
color:#F6CD40;
}

.content-mobile > li {
margin: 20px;
list-style: none;
}

header {
  height: 1100px;
}


.backToTop{
margin-left: 85%;
position: relative;
top: 60px;
width: 10%;
}

  /* body */  /* body */  /* body */  /* body */

  .container{
      width: 80%;
  }

  .container p{
      text-align: justify;
  }

  /* footer */

  .backToTop{
    margin-left: 70%;
    position: relative;
    top: 75px;
    width: 25%;
  }

footer{
    width: 100%;
    background-color: #282C53;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .firstBoxFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0%;
  } 
  
  .firstBoxFooter a{
    text-decoration: none;
    color: white;
    
  }
  
  .OpenHours{
    text-align: center;
    color: #fff;
    margin: 3% 0% ;
  }
  
  .reseaux img{
    padding: 5px;
  }
  
  
  
  .twitterPicture, 
  .facebookPicture, 
  .youtubePicture{
    width: 40px;
  }
  
  
  
  .instagramPicture{
    width: 35px;
  }
  
  
  
  .mailPicture{
    width: 50px;
  }
  
  
  
  .footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl a{
    text-decoration: none;
    color: #fff;
    
  }
  
  footer a:hover{
    color: #F6CD40;
  }

  @media screen and (min-width: 380px){
      .logo{
          width: 20%;
      }

  }

  @media screen and (min-width: 768px) {
    .backToTop {
        top: 146px;
    }
  }

  @media screen and (min-width: 980px) {
      .container p{
          margin-top: 10%;
      }

      .backToTop {
        top: 183px;
    }
  }

  @media screen and (min-width: 1024px) {
    .backToTop {
        top: 156px;
        width: 15%;
        margin-left: 80%;
    }
    .container p{
    font-size: 25px;
  }

  .firstBoxFooter{
    flex-direction: row;
    width: 80%;
  }

  .cgvMl {
    flex-direction: row;
  }
  .reseaux{
    width: 80%;
  }

  .footerDown{
    flex-direction: row;
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
    .backToTop {
        top: 183px;
    }
}

@media screen and (min-width: 1400px) {
    .logo{
        width: 15%;
    }

    .backToTop {
        top: 215px;
    }

    footer{
        font-size: 25px;
    }
}

@media screen and (min-width: 1750px) {
    .logo{
        width: 25%;
    }

    .backToTop {
        top: 275px;
    }
}

@media screen and (min-width: 1920px) {
    .backToTop {
        top: 290px;
    }
}

@media screen and (min-width: 992px){
  .content-mobile {
      display: none;
    }
}


@media screen and (min-width: 1200px){  

.content-mobile {
  display: none;
}
  header nav .link, .languages {
      display: block;
  }

  header nav a {
      color: white;
      text-decoration: none;
  }
  
  header nav .link:hover {
      color: #F6CD40;
  }

  header nav a:active {
      color: white;
      text-decoration: none;
  }

  .menu-wrapper {
      cursor: pointer;
      position: relative;
  }


  .dropdown {
      display: none;   
      position: absolute;
      left: -23%;
      width: 190px;
      background-color: #282C53;
      text-align: center;
      padding-top: 40px;
  }

  .dropdown .menu-item:first-child {
      padding: 24px 10px 14px 10px;
  }

  .dropdown .menu-item {
      display: block;
      padding: 14px 10px;
  }

  .menu-wrapper:hover .dropdown {
      display: block;
  }

  .menu-wrapper:hover .menu-arrow {
      background-image: url(/images/arrow.png);
  }    

  .languages {
      display: block;
  }

  .languages a {
      display: block;
  }

  .languages img {
      height: 18px;
      width: 18px;
  }

  .hamburger {
      display: none;
  }
}
