 #gamingSnake{
    width: 80px;
}/*
#logoHeader{
    position: absolute;
    z-index: 1;
    width: 130px;
}
nav ul li{
    justify-content: center;
}
#navbarSupportedContent{
    width: 210px;
    position: absolute;
    right: 0;
    top:55px;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
} */
/* #navbarSupportedContent{
    text-align: center;
} */