body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #282C53;
    width: 100%;

}

.container img{
display: inline;
width: 15%;
margin-left: 8%;
position: relative;
top: 100px;
}

.container-2{
    background-color: #282C53;
    width: 100%;
    margin-top: 15%;
}


.container-2 img{
    display: inline;
    width: 15%;
    margin-left: 8%;
    position: relative;
    top: 100px;
    }

    h3{
        color: #fff;
    }
    