
#blue_magazines{
    height: 200px;
    background-color: blue;
    position: relative;
}
#magazines{
    top: 120px;
    position: absolute;
    z-index: 999;
    margin-bottom: 200px;
    flex-wrap: wrap;
    justify-content: space-around;
}
#blue_posts{
    height: 200px;
    background-color: blue;
    position: relative;
    top: 200px;

}

#posts{
    position: absolute;
    z-index: 999;
    flex-wrap: wrap;

}
.container{
    position: relative;
}

/* #posts::before {
    position: absolute;
    content: '';
    display: inline-block;
    height: 200px;
    width: 1000px;
    background-color: aqua;
    z-index:-1;
} */
/* #container_2{
    position:relative ;
    top: 500px;
} */