* {
    margin: 0 auto; 
}


/* header */ /* header *//* header *//* header *//* header */
header {
    height: 200px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
    bottom: 265px;
    font-size: 20px;
    z-index: 0;
    display: none;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-top: 10px;
  }

  .navitem-user {
      margin-left: 100px;
  }

  li img {
      width: 70px;
      margin-top: 10px;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  .logo { 
      position: relative;
      z-index: 1;
      width: 40%;
  }
  
  .boxBlueHeader {
    width: 100%;
    height: 260px;
    background-color: #282C53;
    position: relative;
    bottom: 265px;
  }

  h1{
      color: #fff;
      font-size: 30px;
      position: relative;
      z-index: 2;
      top: 220px;
      text-align: center;
  }

  .titlePropos h2{
      text-align: center;
  }

  .container img{
      width: 80%;
      margin-left: 10%;
      margin-top: 10%;
  }

  .description{
      width: 80%;
      text-align: justify;
      margin-top: 5%;
  }

  /* footer */  /* footer */  /* footer */

  .backToTop{
    margin-left: 70%;
    position: relative;
    top: 75px;
    width: 25%;
  }

  footer{
    width: 100%;
    background-color: #282C53;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .firstBoxFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0%;
  } 
  
  .firstBoxFooter a{
    text-decoration: none;
    color: white;
    
  }
  
  .OpenHours{
    text-align: center;
    color: #fff;
    margin: 3% 0% ;
  }
  
  .reseaux img{
    padding: 5px;
  }
  
  
  
  .twitterPicture, 
  .facebookPicture, 
  .youtubePicture{
    width: 40px;
  }
  
  
  
  .instagramPicture{
    width: 35px;
  }
  
  
  
  .mailPicture{
    width: 50px;
  }
  
  
  
  .footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .cgvMl a{
    text-decoration: none;
    color: #fff;
    
  }
  
  footer a:hover{
    color: #F6CD40;
  }

  @media screen and (min-width: 768px) {
      .logo{
          width: 20%;
      }

    h1, .description, footer{
        font-size: 20px;
    }

    .titlePropos{
        margin-top: 10%;
    }

    .backToTop {
        top: 146px;
    }
  }

  @media screen and (min-width: 980px) {
      .container img{
          width: 30%;
      }

      .description{
          width: 40%;
          margin-top: 10%;
      }

      .container{
          display: flex;
          flex-direction: row;
      }

      .backToTop{
          width: 15%;
      }
  }

  @media screen and (min-width: 1024px) {
    .backToTop {
        top: 160px;
    }

    .firstBoxFooter{
        flex-direction: row;
        width: 80%;
      }
    
      .cgvMl {
        flex-direction: row;
      }
      .reseaux{
        width: 80%;
      }
    
      .footerDown{
        flex-direction: row;
        width: 80%;
      }
  }

  @media screen and (min-width: 1200px) {
    .backToTop {
        top: 186px;
    }
  }

  @media screen and (min-width: 1400px) {
    .logo{
        width: 15%;
    }

    h1{
        font-size: 30px;
    }

    .backToTop {
        top: 216px;
    }

  }

  @media screen and (min-width: 1750px) {
      .logo{
          width: 13%;
      }

      h1, h2, .description, footer{
          font-size: 30px;
      }

      .backToTop {
        top: 269px;
    }
  }

  @media screen and (min-width: 1920px) {
    .backToTop {
        top: 293px;
    }
  }


