*{
    margin: 0 auto; 
    padding: 0;
}
body{
    background-image: url(image/un-parc-dattractions-dedie-aux-jeux-video-a-nimes-dici-2020_u6pv\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* header */

@font-face {
    font-family: commando;
    src: url(/fonts/commando.ttf) format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

header nav {
    display: flex;
    background-color: #282C53;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: commando;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 13.41px;
}

nav{
    position: fixed;
    width: 100%;

}

header nav .link, .languages {
    display: none;
}



.avatar {
    height: 50px;
    width: 73px;
}

.account-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

.account-wrapper > a {
    margin: 0 10px;
}

.account-wrapper > a > .cart {
  width: 18px;
  height: 18px;
}

.personal-info div {
    margin: 2px 0;
}

.hamburger img {
    width: 24px;
    height: 20px;
}

.content-mobile {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  float: none;
  text-align: center;
  background-color:#282C53;
  top: 100px;
  right: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1;
}

li > a {
  text-decoration: none;
}

li > a:hover {
  color:#F6CD40;
}

.content-mobile > li {
  margin: 20px;
  list-style: none;
}






span{
    color: #F6CD40;
}
.logo{
    width: 25%;
}

  .poppy-header{ 
      padding-left: 60%;
      position: relative;
      top: 230px;
      z-index: 1;
  }
  
  .bar{
      background-color: #282C53;   
      height: 10px;
      margin-top: 6%;
  }

  .astrobotHomePicture{
      position: absolute;
      left: 800px;
  }

  .pictureHome{
      padding-top: 5%;
  
  }

  .pictureHome img{
      width: 400px;
      padding-left: 10%;
  }

  .center-picture-home{
    padding-bottom: 300px;
  }

  .boxHomePicture{
      width: 100%;
      padding-top: 5%;
      background-color: #282C53;
      margin-top: 100px;
      padding-bottom: 5%;
      display: flex;
      flex-direction: row;
  }

  .ext-box-picture-home img{
    padding-left: 10%;
    
  }

  .center-box-picture-home{
    padding-top: 200px;
    margin-left: 10%;
    width: 35%;
  }

 
  .ext-box-picture-home{
    padding-bottom: 300px;
    width: 20%;
    height: 20%;
  }

  h1{
      margin-left: 10%;
      font-size: 65px;
      position: relative;
      top: 100px;
      color: #282C53;
  }

  .containerHome{
      display: flex;
      padding-bottom: 50px;
  }

  .textDescription{
      font-size: 30px;
      width: 30%;
      position: relative;
      top: 100px;
      left: 300px;
  }

  .boxEffectif{
      background-color: #282C53;
      width: 100%;
      height: 10px;
      margin-top: 5%;
      height: 300px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
  }

  .poppyPicture img{
      position: relative;
      top: 480px;
  }
  

  .box-effectif-element{
      display: flex;
      flex-direction: column;
      font-size: 40px;
      padding-top: 
      30px;
  }

  .box-effectif-element p{
    padding-bottom: 100px;
    color: #F6CD40;
    font-weight: bold;
  }
  
  h2{
      margin-top: 10%;
    margin-left: 10%;
    font-size: 65px;
    color: #282C53;
}

.allGames{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.backToTop{
    margin-left: 85%;
    position: relative;
    top: 60px;
    width: 10%;
}



footer{
    width: 100%;
    background-color: #282C53;
}

.firstBoxFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
} 

.firstBoxFooter a{
    text-decoration: none;
    color: white;
    
}

.OpenHours{
    padding-left: 85%;
    color: #fff;
    margin: 3% 0% ;
}

.reseaux img{
    
    margin-left: 20px;
}

.twitterPicture, 
.facebookPicture, 
.youtubePicture{
    width: 40px;
}



.instagramPicture{
    width: 35px;
}



.mailPicture{
    width: 50px;
}



.footerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cgvMl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    position: relative;
    padding-bottom: 1%;
}

.cgvMl a{
    text-decoration: none;
    color: #fff;
    
}

footer a:hover{
    color: #F6CD40;
}


@media screen and (min-width: 992px){
    .content-mobile {
        display: none;
      }
}


@media screen and (min-width: 1200px){  
  
  .content-mobile {
    display: none;
  }
    header nav .link, .languages {
        display: block;
    }

    header nav a {
        color: white;
        text-decoration: none;
    }
    
    header nav .link:hover {
        color: #F6CD40;
    }

    header nav a:active {
        color: white;
        text-decoration: none;
    }

    .menu-wrapper {
        cursor: pointer;
        position: relative;
    }


    .dropdown {
        display: none;   
        position: absolute;
        left: -23%;
        width: 190px;
        background-color: #282C53;
        text-align: center;
        padding-top: 40px;
    }

    .dropdown .menu-item:first-child {
        padding: 24px 10px 14px 10px;
    }

    .dropdown .menu-item {
        display: block;
        padding: 14px 10px;
    }

    .menu-wrapper:hover .dropdown {
        display: block;
    }

    .menu-wrapper:hover .menu-arrow {
        background-image: url(/images/arrow.png);
    }    

    .languages {
        display: block;
    }

    .languages a {
        display: block;
    }

    .languages img {
        height: 18px;
        width: 18px;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 1920px){

.poppy-header img{
    position: relative;
    top: 330px;
}
.pictureHome img{
    width: 30%;
    margin-top: 20%;
}

.bar{
    position: relative;
    top: 332px;
}

.backToTop{
    margin-left: 85%;
}

.poppyPicture img {
    position: relative;
    top: 655px;
}
}

@media screen and (max-width: 1600px){

    .textDescription p{
        font-size: 25px;
    }

    .poppy-header img{
        position: relative;
        right: 100px;
        width: 500px;
    }
    .bar{
        bottom: 30px;
    }


}

@media screen and (max-width: 1500px){
    .bar{
        bottom: 80px;
    }

    .poppyPicture img{
        top: 420px;
    }
}

@media screen and (max-width: 1400px){
    .bar{
        bottom: 120px;
    }

    .poppy-header img{
        bottom: 80px;
    }
}

@media screen and (max-width: 1300px){

    .bar{
        bottom: 170px;
    }

    .poppy-header img{
        bottom: 100px;
    }

    .poppyPicture img{
        display: none;
    }

    .textDescription p{
        font-size: 20px;
        margin-bottom: 200px;
        
    }

    .box-effectif-element p{
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px){
    .logo{
        width: 100px;
    }
    .navbar{
        width: 100%;
        font-size: small;
    }
    .navitem-user{
        padding-left: 10px;
    }
    .dropdown:hover .dropdown_content{
        width: 162px;
        font-size: small;
        height: 188px;
    }
    .poppy-header img{
        bottom: 190px;
        position: sticky;
    }

    .bar{
        top: 140px;
    }
    .pictureHome{
        padding-top: 0%;
    }

    h1, h2{
        font-size: 40px;
    }

    .backToTop{
        top: 38px;
    }
}

@media screen and (max-width: 1100px){
    .poppy-header img{
        bottom: 220px;
    }

    .bar{
        bottom: 260px;
    }

    .backToTop {
        width: 10%;
    }

    .box-effectif-element p{
        font-size: 30px;
    }
}

@media screen and (max-width: 980px){
    .dropdown:hover .dropdown_content{
        width: 142px;
        height: 188px;
    }
    .logo{
        width: 18%;
    }
    .navbar{
        font-size: small;
    }
    .navitem-user{
        padding-left: 0px;
    } 
    .navbar li a {
        padding: 20px 10px;
    }

    .poppy-header{
        height: 300px;
    }

    .bar{
        bottom: 120px;
    }

    .reseaux img{
    
        margin-left: 10px;
    }
    
    .twitterPicture, 
    .facebookPicture, 
    .youtubePicture{
        width: 30px;
    }
    
    
    
    .instagramPicture{
        width: 25px;
    }
    
    
    
    .mailPicture{
        width: 40px;
    }

   .OpenHours  {
       padding-left: 75%;
   }
}

@media screen and (max-width: 768px){
    .navbar{
        display: none;
    }
  
    .poppy-header img {
        width: 90%;
        bottom: 173px;
    }
    .bar{
        bottom: 50px;
    }

    header{
        height: 100px;
    }

    .pictureHome{
        width: 100%;
    }

    .pictureHome img{
        display: flex;
        padding-left: 6%;
       margin: 6% 34%;
    }

    .center-picture-home{
        padding-bottom: 0;
    }

    .boxHomePicture{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .boxHomePicture img{
        display: flex;
        padding-left: 6%;
        margin: 0% 34%;
    
    }

    .center-box-picture-home{
        padding-top: 0px;
        padding-bottom: 85px;

    }

    .ext-box-picture-home{
        padding-bottom: 0px;
    }

    .textDescription{
        position: relative;
        left: 0%;
        top: 67px;

    }

    .textDescription p{
        font-size: 15px;
        text-align: justify;
        width: 180%;
    }

    h2{
        margin-top: 0%;
    }

    .boxEffectif{
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .box-effectif-element p{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .box-effectif-element{
        margin-right: 35%;
        width: 30%;
    }

    .containerHome {
        padding-right: 10%;
    }
    .allGames img{
        width: 12%;
    }

    .backToTop {
        margin-left: 84%;
        margin-top: 0px;
    }

    footer{
        width: 100%;
    }

    .poppyPicture{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .poppy-header img{
       bottom: 227px;
       left: 1px;

    }

    .poppy-header{
        height: 200px;
    }

    .bar{
        bottom: 80px;
    }

    .pictureHome img {
        padding-left: 0%;
        width: 35%;
    }

    h1{
        font-size: 25px;
    }

    .boxHomePicture img{
        padding-left: 0%;
    }

    .ext-box-picture-home{
        width: 35%;
    }

    .center-box-picture-home{
        width: 60%;
    }

    .textDescription{
        left: 0%;
        width: 100%;
    }
    .textDescription p{
        width: 80%;
    }

    .backToTop {
        margin-left: 80%;
        top: 21px;
    }

    footer{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        height: none;
        text-align: center;
        
    }

    .firstBoxFooter{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .OpenHours{
        padding-left: 0%;
        padding-bottom: 20px;
    }

    .cgvMl{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .reseaux{
        padding-bottom: 20px;
    }

    .footerDown{
        display: flex;
        flex-direction: column;

    }

    .box-effectif-element{
        margin-right: 35%;
    }

    .allGames{
        margin-right: 0%;
    }
}

@media screen and (max-width: 380px){

 
    .logo{
        width: 100px;
    }

    .poppy-header{
        height: 100px;
       
        
    }

    .allGames{
        display: flex;
        flex-direction: column;
    }

    .allGames img{
        width: 35%;
        margin-bottom: 10%;
    }
    .textDescription {

        top: 130px;
    }

    .poppy-header img{
        margin-top: 200%;
    }

    .bar{
        bottom: 50px;
        margin-top: 110%;
    }

    .backToTop {
        margin-left: 72%;
        top: 30px;
        width: 21%;
    }

    .pictureHome{
        margin-top: 130%;
    }
}